/* CODE COSMETIQUE POUR L'ACCORDÉON DÉROULANT DU DÉTAIL DU CALCUL */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #4c3b25;
  font-size: initial;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #e0cfb8;
  color: #4c3b25;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #261d11;
  display: none;
  overflow: hidden;
}

/* ICONE ACCORDÉON */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #261d11;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}